/* General */

:root {
  --light: #f6f6f6;
  --lighter: #fffdfc;
  --dark: #151515;
  --darker: #090909;
  --lightgray: #c6c6c6;
  --darkgray: #3d3d3d;
  --orange: #eb5937;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 10rem;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--lighter);
  color: var(--darkgray);
  font-family: "Lato", sans-serif;
}

h1 {font-size: 4rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2.2rem;}
p {font-size: 1.9rem;}

section {
  margin: 14vh 12vw;
}

button {
  cursor: pointer;
  padding: 1.2rem 3rem;
  min-width: 14rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

button i {
  margin-right: 0.8rem;
}

input, textarea, button, a, i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-text {
  z-index: -1;
  position: absolute;
  font-size: 25rem;
  font-weight: bold;
  font-family: Garamond, serif;
  user-select: none;
  opacity: 0.05;
}

.header i, .footer i {
  cursor: pointer;
}

.dark-mode {
  background-color: var(--darker);
  color: var(--lightgray);
}

/* Utilities */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.15) !important;
}

.desktop-display {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  width: 100%;
}

/* Header */

.header {
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.4rem 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 1.4rem;
  padding-bottom: 1.4rem;
  width: 100%;
  font-size: 1.5rem;
}

.navbar > i {
  margin-top: 1rem;
}

.mobile-open {
  display: block;
  box-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.15);
}

.mobile-open > i {
  position: absolute;
  top: 3.1rem;
  right: 8vw;
}

.mobile-open nav {
  display: flex;
}

.header--logo {
  text-decoration: none;
  color: inherit;
  font-size: 3rem;
  font-weight: bolder;
}

.navbar--link {
  text-decoration: none;
  color: inherit;
}

.active {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: var(--orange);
  font-weight: bold;
}

/* Home */

.home {
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home--picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home--picture > img {
  width: 25rem;
  border-radius: 50%;
}

.home--subtitle {
  font-weight: normal;
}

/* About */

.about--text {
  margin-bottom: 4rem;
}

.about--techs {
  width: 65%;
  margin: auto;
  min-width: 21rem;
  max-width: 32rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

.about--techs > img {
  width: 5rem;
}

.about--cv {
  text-align: center;
  margin-top: 4rem;
}

.about--subtitle {
  margin-bottom: 0;
}

.about--cv a {
  text-decoration: none;
  color: var(--orange);
  font-weight: bold;
}

/* Projects */

.projects--code::before {
  content: "> ";
}

.projects--code {
  font-weight: bold;
}

.projects--cmd {
  margin-bottom: 2rem;
}

#cursor {
  background-color: currentColor;
}

.projects > .row:not(:last-of-type) {
  margin-bottom: 6rem;
}

.projects--gif {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.projects--tech {
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid var(--orange);
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  margin: 0;
  margin-top: -0.5rem;
}

.projects--info {
  width: 90%;
  margin: auto;
}

.row:nth-child(even) .projects--info {
  text-align: end;
  margin-bottom: 2rem;
}

.projects--btn {
  background-color: inherit;
  color: currentColor;
  border: 2px solid var(--orange);
}

.projects--bottom-txt {
  text-align: end;
  font-weight: bold;
}

/* Contact */

.contact--text {
  width: 80%;
}

.contact--text p {
  margin-bottom: 4rem;
}

.contact--text a {
  font-weight: bold;
  color: var(--orange);
  text-decoration: none;
}

.contact--text b {
  color: var(--orange);
}

.contact--form label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact--form label::after {
  content: " *";
  color: var(--orange);
}

.contact--form input, textarea {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 2rem 0;
  text-indent: 1.8rem;
  margin-bottom: 20px;
  border: 1px solid var(--darkgray);
  border-radius: 3px;
  font-size: 1.5rem;
  resize: vertical;
}

.contact--form button {
  background-color: var(--orange);
  color: var(--lighter);
  border: 2px solid var(--orange);
}

/* Footer */

.footer {
  text-align: center;
}

.footer a:visited, .footer a:hover, .footer a:link {
  color: inherit;
}

.footer--icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 10rem;
  margin: auto;
}

.footer--copy {
  margin-top: 2rem;
  font-size: 1.5rem;
}

/* Media queries */

@media only screen and (min-width: 992px) {
  html {font-size: 70%;}
}

@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {

  .header > i {
    display: none;
  }

  .header {
    display: flex;
    box-shadow: none;
  }

  .navbar {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .desktop-display {display: initial;}
}