/* General */

:root {
  --light: #F6F6F6;
  --lighter: #FFFDFC;
  --dark: #0F2141;
  --darker: #030913;
  --gray: #3D3D3D;
  --orange: #eb5937;
}

html {
  scroll-padding-top: 86px;
  scroll-behavior: smooth !important;
  font-size: 62.5%;
}

body {
  background-color: var(--lighter);
  background-image: repeating-linear-gradient(var(--lighter), var(--lighter) 147px, var(--light) 150px, var(--light) 0px);
  color: var(--gray);
  font-family: "Lato", sans-serif;
}

h1 {font-size: 4rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2.2rem;}
p {font-size: 1.9rem;}

section {
  margin: 14vh 12vw;
}

button {
  cursor: pointer;
  width: 170px;
  height: 48px;
  padding: 12px;
  border-radius: 12px;
  font-size: 1.5rem;
}

button i {
  margin-right: 6px;
}

.bg-text {
  z-index: -1;
  position: absolute;
  font-size: 280px;
  font-weight: bold;
  font-family: Garamond, serif;
  color: var(--light);
  user-select: none;
}

.header i, .footer i {
  cursor: pointer;
}

/* Utilities */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.15) !important;
}

.desktop-display {
  display: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

/* Header */

.header {
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 1.9rem;
}

.navbar > i {
  margin-top: 10px;
}

.mobile-open {
  display: block;
  box-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.15);
}

.mobile-open > i {
  position: absolute;
  top: 33px;
  right: 8vw;
}

.mobile-open nav {
  display: flex;
}

.header--logo {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  font-weight: bolder;
}

.navbar--link {
  text-decoration: none;
  color: inherit;
}

.active {
  text-decoration: underline;
  text-underline-offset: 7px;
  color: var(--orange);
  font-weight: bold;
}

/* Home */

.home {
  height: 72vh;
  display: flex;
  align-items: center;
}

.home--picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home--picture > img {
  width: 300px;
  border-radius: 100%;
}

.home--subtitle {
  font-weight: normal;
}

/* About */

.about--techs {
  width: 65%;
  min-width: 205px;
  max-width: 390px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 6%;
}

.about--techs > img {
  width: 60px;
}

.about--cv {
  text-align: center;
  margin-top: 50px;
}

.about--subtitle {
  margin-bottom: 0;
}

.about--cv a {
  text-underline-offset: 4px;
  color: var(--orange);
  font-weight: bold;
}

/* Projects */

.projects--code::before {
  content: "> ";
}

.projects--code {
  font-weight: bold;
}

.projects--cmd {
  margin-bottom: 24px;
}

#cursor {
  margin-left: 5px;
  background-color: currentColor;
}

.projects > .row {
  margin-bottom: 24px;
}

.projects--gif {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

.projects--tech {
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid var(--orange);
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
  margin: 0;
  margin-top: -5px;
}

.projects--info {
  width: 90%;
  margin: auto;
}

.row:nth-child(even) .projects--info {
  text-align: end;
  margin-bottom: 24px;
}

.projects--btn {
  background-color: inherit;
  color: currentColor;
  border: 2px solid var(--orange);
}

.projects--bottom-txt {
  text-align: end;
  font-weight: bold;
}

/* Contact */

.contact--text {
  width: 80%;
}

.contact--text p {
  margin-bottom: 38px;
}

.contact--text b {
  color: var(--orange);
}

.contact--form label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact--form label::after {
  content: " *";
  color: var(--orange);
}

.contact--form input, textarea {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 18px 0px;
  text-indent: 16px;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  font-size: 1.5rem;
  resize: vertical;
}

.contact--form button {
  background-color: var(--orange);
  color: var(--lighter);
  border: 0px;
}

/* Footer */

.footer {
  text-align: center;
}

.footer--icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: auto;
}

.footer--copy {
  margin-top: 25px;
}

/* Media queries */

@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {

  .header > i {
    display: none;
  }

  .header {
    display: flex;
    box-shadow: none;
  }

  .navbar {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .desktop-display {display: initial;}
}