/* General */

:root {
  --light: #E6DCD2;
  --lighter: #F8F3F0;
  --dark: #0F2141;
  --darker: #030913;
  --gray: #3D3D3D;
  --gold: #F0AD4E;
  --red: #D9534F;
}

html {
  scroll-padding-top: 86px;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--lighter);
  color: var(--gray);
  font-family: "Lato", sans-serif;
  background-image: repeating-linear-gradient(var(--lighter), var(--lighter) 149px, var(--light) 150px, var(--light) 0px);
}

section {
  margin: 6vh 12vw;
}

.bg-text {
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  font-size: 280px;
  font-weight: bold;
  font-family: Garamond, serif;
  color: var(--light);
  user-select: none;
}

/* Utilities */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-hidden {
  display: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .mobile-hidden {display: initial;}
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.header--logo {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  font-weight: bolder;
}

.navbar {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navbar--link {
  text-decoration: none;
  color: inherit;
  font-size: larger;
}

.active {
  text-decoration: underline;
  text-underline-offset: 7px;
  color: var(--gold);
  font-weight: bold;
}

/* Home */

.home--picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home--picture > img {
  width: 300px;
}

.home--header {
  font-size: 75px;
}

.home--subtitle {
  font-size: xx-large;
  font-weight: normal;
  line-height: 55px;
}

/* About */

.about--text {
  font-size: 24px;
  line-height: 35px;
}

.about--techs {
  width: 65%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 6%;
}

.about--techs > img {
  width: 60px;
}

.about--cv {
  text-align: center;
}

.about--subtitle {
  font-size: x-large;
}

.about--cv > p {
  font-size: larger;
}

.about--cv a {
  letter-spacing: 1px;
  text-underline-offset: 4px;
  color: var(--gold);
  font-weight: bold;
}

/* Projects */

.projects--code::before {
  content: "> ";
}

.projects--code {
  font-weight: bold;
  font-size: x-large;
}

.projects--cmd {
  margin-bottom: 24px;
}

#cursor {
  margin-left: 5px;
  background-color: currentColor;
}

.projects > .row {
  margin-bottom: 24px;
}

.projects--gif {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

.projects--tech {
  text-align: center;
  font-size: large;
  border: 2px solid var(--gold);
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
  margin: 0;
  margin-top: -5px;
}

.projects--info {
  width: 90%;
  margin: auto;
}

.row:nth-child(odd) .projects--info {
  text-align: end;
  margin-bottom: 24px;
}

.projects--title {
  font-size: x-large;
}

.projects--desc {
  font-size: larger;
  line-height: 30px;
}

.projects--btn {
  width: 170px;
  padding: 14px;
  color: currentColor;
  background-color: inherit;
  border-radius: 12px;
  border: 2px solid var(--gold);
  font-size: large;
}

.projects--bottom-txt {
  text-align: end;
  font-weight: bold;
  font-size: large;
}

/* Contact */

.contact--text {
  width: 80%;
}

.contact--title {
  font-size: x-large;
}

.contact--text p {
  font-size: larger;
  line-height: 30px;
  margin-bottom: 38px;
}

.contact--text b {
  color: var(--gold);
}

.contact--form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact--form label::after {
  content: " *";
  color: var(--red);
}

.contact--form input, textarea {
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 18px 0px;
  text-indent: 16px;
  margin-bottom: 20px;
  border: 1px solid var(--gray);
  border-radius: 3px;
  font-size: large;
  resize: vertical;
}

.contact--form button {
  background-color: var(--gold);
  color: currentColor;
  width: 170px;
  padding: 14px;
  border-radius: 12px;
  border: 0px;
  font-size: large;
}

/* Footer */

.footer {
  text-align: center;
}

.footer--icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin: auto;
}

.footer--copy {
  margin-top: 25px;
  font-size: large;
}