* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
    --bg: light-dark(#fff, #000);
    --fg: light-dark(#000, #fff);
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
    color: var(--fg);
}
