/* Theme */

:root {
    color-scheme: light dark;
    --bg: light-dark(#ebeef5, #050b12);
    --fg: light-dark(#050b12, #ebeef5);
    --fg-muted: light-dark(#050b12b3, #ebeef5cc);
}

[data-theme="light"] {
    color-scheme: light;
}

[data-theme="dark"] {
    color-scheme: dark;
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
    color: var(--fg-muted);
}

p {
    line-height: 22px;
}

b, strong {
    color: var(--fg);
    font-weight: bold;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: unset;
}

/* Utility */

.loud {
    color: var(--fg);
}

.flex {
    display: flex;
}

/* Responsiveness */

@media (max-width: 576px) {
  .sm {
    display: none;
  }
}

@media (max-width: 768px) {
  .md {
    display: none;
  }
}

/* Animations */

.elevate {
    transition: transform 0.25s ease;
}

.elevate:hover {
    transform: translateY(-2px);
}

.highlightable {
    transition: color 0.25s ease;
}

.highlightable:hover {
    color: var(--fg);
}
